$sunday-desktop-width: 1279px;
$sunday-tablet-width-horizontal: 1024px;

/// Dieses Mixin ist hier definiert worden, da es nach Entfernen von Sunday auch gelöscht werden soll!
@mixin sunday-tablet {
  @media (max-width: #{$sunday-tablet-width-horizontal}) {
    @content;
  }
}

@mixin sunday-desktop {
  @media (max-width: #{$sunday-desktop-width}) {
    @content;
  }
}

html {
	font-size: $font-size !important;
	line-height: $line-height;

	body {
		div, p, ul, ol, li, form {
			color: inherit;
			font-size: inherit;
			font-style: inherit;
			font-weight: inherit;
			line-height: inherit;
		}

		
		a.btn {
			text-decoration: none;
		}
		
		
		.row {
			width: 100%;
			max-width: 100%;
			min-width: 100%;
			width: unset;
			max-width: unset;
			min-width: unset;

			.row {
				margin-right: -15px;
				margin-left: -15px;
			}

			&:before {
				display: none;
			}
		}

		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
			margin-bottom: $headings-margin-bottom;
			line-height: $headings-line-height !important;
			font-family: $headings-font-family !important;
			font-weight: $headings-font-weight !important;
			padding-top: 15px !important; // Diese Regel ist auch noch einmal in der utilities.scss, aber ohne !important!
			color: $headings-color !important;
		}

		h1, .h1 { font-size: $h1-font-size !important; }
		h2, .h2 { font-size: $h2-font-size !important; }
		h3, .h3 { font-size: $h3-font-size !important; }
		h5, .h5 { font-weight: bold !important; }

		&.home #footer {
			display: block;
		}

		.row {
			@include make-row();
		}

		#header-container:not(.small) #header .header-wrap > .row:last-child .columns.header-main-panel .header-col-left{
			@media only screen and (max-width: 480px){
				padding-left: 20px !important;
			}
		}

		@media (min-width: 1042px) {
			#header-container #header .header-wrap > .row:last-child .header-main-panel .header-col-right,
			#header-container.small #header .header-wrap > .row:last-child .header-main-panel .header-col-fluid {
				margin-top: 10px;
			}

			.nav-menu .nav-item {
				margin-bottom: 20px;
			}
		}

		.mind-light-gray-background {
			color: $darker-gray !important;
		}

	}

	#main-wrap {
		#header-container {
			#header {
				background-color: #fff !important;
			}
		}
	}

	#footer {
		color: $dark-gray;

		>.row{
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	#page-container {
		padding-top: 120px;

		@include sunday-desktop {
			padding-top: 80px;
		}

		@include sunday-tablet {
			padding-top: 10px;
		}
		// Diese Regeln werden nur für die Startseite verwendet. Müssen aber nach Löschen von Sunday vermutlich auch angepasst werden.
		// Diese Regeln gehören anschließend in die Datei /templates/_home.scss
		.home-start {

			.row.align-items-center{
				height: 80%;
				height: calc(100% - 240px);
				height: calc(100vh - 240px);

				@include sunday-desktop {
					height: 90%;
					height: calc(100% - 160px);
					height: calc(100vh - 160px);
				}

				@include sunday-tablet {
					height: 100%;
					height: calc(100% - 268px);
					height: calc(100vh - 268px);
				}

				@include media-breakpoint-down(sm) {
					height: auto;
				}

				@media screen and (max-height: 650px) {
					height: auto;
					padding: 20px 0;
				}
			}

		}
	}

	// Wegen der Menüleiste
	#knowhow.single-knowhow .content-section .row > div {
		@media (min-width: 1042px) {
			h2, h3, h4, h5, h6 {
				&:before {
					content: '';
					display: block;
					height: 120px;
					margin-top: -120px;
					visibility: hidden;
				}

				padding-top: initial;
				padding-top: unset;
			}
		}
	}

	// Buttons von Bootstrap verwenden
	@import "../vendor/bootstrap/buttons";
	.btn {
		height: auto;
		font-weight: bold;
		border-radius: 0;
		margin: 0;

		&:hover {
			border-width: $border-width;
		}

		// Wenn ein Button aktiviert wird, erscheint ein Box-Shadow
		&:focus {
			box-shadow: none;
		}

		// Hintergrundfarben
		&.btn-primary,
		&.btn-outline-primary:hover {
			background-image: linear-gradient(to right,rgba(255,255,255,.2) 0,transparent 100%);
			color: #fff;

			&:hover {
				color: #fff;
			}
		}

		&.btn-secondary,
		&.btn-outline-secondary:hover {
			background-image: linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,.01) 100%);
			color: $dark-gray;
		}

		&.btn-success {
			color: #fff;

			&:hover {
				color: #fff;
			}
		}

		.btn-outline-primary {
			color: map-get($theme-colors, primary);
		}

		.btn-outline-secondary {
			color: $dark-gray;
		}

		.btn-outline-success {
			color: map-get($theme-colors, success);
			&:hover {
				color: #fff;
			}
		}
	}

	a.btn {
		cursor: pointer;
	}

	button {
		font-size: 1rem !important;
	}
}

.modal {
	button.close:hover {
		color: #000;
		background: none;
		border: none;
	}

	.close {
		font-size: $close-font-size !important;
		color: $close-color;
	}

	h3.modal-title {
		padding-top: 0px !important;
		margin-bottom: 0px !important;
	}
}

/* OptinMonster - Hier werden durch Sunday einige Elemente zerstört. */
div[id^="om-"] {
	button {
		height: auto;
		width: 100%;
		background: none;
		border: none;

		&:hover {
			background: none;
			border: none;
		}
	}

	.msq-close {
		width: auto;
		padding: 5px;
		background-color: transparent;

		&:hover {
			background-color: #fff;
		}
	}
}
