
#knowhow,
#post {
	section {
		padding-top: $spacer * 3;
		padding-bottom: $spacer * 3;
	}

	// Responsive Video von Bootstrap für dieses Template deaktivieren, da das Plugin 'msq_responsive_video' hier bereits verwendet wird.
	.embed-responsive::before {
		display: none;
	}

	.msq-plugin-responsive-video {
		width: 100%;
		float: left;
		margin-right: 15px;

		@include media-breakpoint-up(lg) {
			width: 60%;
		}
	}

	.header-section {

		h1 {
			padding-top: 0 !important;
		}

		@include media-breakpoint-only( lg ) {
			h1 {
				margin-left: -60px;
			}
		}
	}

	.content-section {
		.content{
			font-size: 1.2rem;
		}
		.float-left {
			margin-right: 15px;
		}

		.float-right {
			margin-left: 15px;
		}

		.seminar-box {
			width: 100%;
			margin-bottom: 15px;

			@include media-breakpoint-up(lg) {
				width: 216px;
			}
		}
		.Content-Inhaltverzeichnis{
			background: $gray-lighter;
			padding: 15px;
			margin-bottom: 20px;
			h2{
				padding-top: 0;
			}
			ul{
				max-width: 100%;
				display: block;
				padding-left: 1.5em;
				margin-bottom: 0;
			}
			a{
				color: $gray;
				font-size: 1.2rem;
			}
		}
	}
}

.knowhow-overview-title{
	>.container{
		padding-bottom: 125px;
		@include media-breakpoint-only(sm){
			padding-bottom: 115px;
		}
		@include media-breakpoint-between(md, lg){
			padding-bottom: 100px;
		}
	}
	&--no-overlap{
		margin-bottom: 0px;
        padding-bottom: 0px;
	}
}

.knowhow-overview-categories{
	>.container{
		margin-top: -199px;
		@include media-breakpoint-only(sm){
			margin-top: -190px;
		}
		@include media-breakpoint-between(md, lg){
			margin-top: -172px;
		}
	}
	&--no-overlap{
		margin-top: 0px;
	}
}

.single-knowhow{
	.card.card-angebot{
		.card-title-wrapper{
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 50px;
		}
		.card-body{
			font-size: 15px;
		}
	}

}
