#post {
    .content-section {
        .blog-post-image-equal { 
            margin-bottom: 15px;

            @include media-breakpoint-up(sm) {
                float: left;
                margin-right: 15px;
            }

            @include media-breakpoint-down(xs) {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        
        .blog-post-image-wide {
            display: block;
            margin-bottom: 25px;
        }
        @include media-breakpoint-down(md) {
            .sidebar-blog{
                text-align: center;
            }
        }
    }
}