[submodule "www/mindsquare-network/htdocs"]
	path = www/mindsquare-network/htdocs
	url = git@gitlab.com:mindsquare/mindsquare-network.git
	branch = develop
	ignore = all
[submodule "www/freelancercheck/website"]
	path = www/freelancercheck/website
	url = git@gitlab.com:mindsquare/freelancercheck.de.git
	branch = develop
	ignore = all
[submodule "www/pardb/htdocs"]
	path = www/pardb/htdocs
	url = git@gitlab.com:mindsquare/pardb.mindsquare.de.git
	branch = develop
	ignore = all
