[ req ]
prompt = no
distinguished_name = server_distinguished_name
req_extensions = v3_req

[ server_distinguished_name ]
commonName = localhost
stateOrProvinceName = NRW
countryName = DE
emailAddress = info@mindsquare.de
organizationName = mindsquare
organizationalUnitName = mindsquare-network

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.0 = mindsquare.local
DNS.1 = mindsquare.de
DNS.2 = blog.mindsquare.de
DNS.3 = activate-hr.de
DNS.4 = erlebe-software.de
DNS.5 = maint-care.de
DNS.6 = mind-force.de
DNS.7 = mind-forms.de
DNS.8 = mission-mobile.de
DNS.9 = rz10.de
DNS.10 = innotalent.de
DNS.11 = wiki.mindsquare.de
DNS.12 = compamind.de
DNS.13 = mind-logistik.de
DNS.14 = piumelli.de
DNS.15 = timm-funke.de
DNS.16 = consulting-y.de
DNS.17 = personaleinsatzplanung.activate-hr.de
DNS.18 = marketence.de
DNS.19 = bonuskonditionen.de
DNS.20 = customer-first-cloud.de
DNS.21 = gesundheit-digitalisieren.de
DNS.22 = energie-digitalisieren.de
