.card-deck {
	.card {
		$two_cards: 100% / 2;
		$three_cards: 100% / 3;
		$four_cards: 100% / 4;
		$six_cards: 100% / 6;
		$margin_top: ($spacer * 1.5);

		&.two-in-row,
		&.three-in-row,
		&.four-in-row,
		&.six-in-row {
			max-width: 100%;
		}

		@include media-breakpoint-up(sm) {
			flex: 1 0 auto;
			
			&.four-in-row,
			&.six-in-row {
				margin-left: 0;
				margin-right: 0;
				padding-left: 15px;
				padding-right: 15px;
				max-width: $two_cards;
				flex-basis: $two_cards;

				&:nth-of-type(n+3) {
					margin-top: $margin_top;
				}
			}

			&.three-in-row {
				margin-top: $margin_top;
			}
		}

		@include media-breakpoint-up(md) {

			&.two-in-row,
			&.three-in-row {
				margin-left: 0;
				margin-right: 0;
				padding-left: 15px;
				padding-right: 15px;
				max-width: $two_cards;
				flex-basis: $two_cards;
				&:nth-of-type(n+3) {
					margin-top: $margin_top;
				}
			}

			&.four-in-row,
			&.six-in-row {
				max-width: $three_cards;
				flex-basis: $three_cards;
				&:nth-of-type(n+3) {
					margin-top: 0;
				}
				&:nth-of-type(n+4) {
					margin-top: $margin_top;
				}


			}

		}

		@include media-breakpoint-up(lg) {

			&.three-in-row {
				margin-top: 0;
				max-width: $three_cards;
				flex-basis: $three_cards;

				&:nth-of-type(n+3) {
					margin-top: 0;
				}
				&:nth-of-type(n+4) {
					margin-top: $margin_top;
				}
			}

			&.four-in-row,
			&.six-in-row {
				max-width: $four_cards;
				flex-basis: $four_cards;
				&:nth-of-type(n+4) {
					margin-top: 0;
				}
				&:nth-of-type(n+5) {
					margin-top: $margin_top;
				}
			}

		}

		@include media-breakpoint-up(lg) {

			&.six-in-row {
				max-width: $six_cards;
				flex-basis: $six_cards;
				&:nth-of-type(n+5) {
					margin-top: 0;
				}
				&:nth-of-type(n+7) {
					margin-top: $margin_top;
				}
			}

		}

	}

}