
.form-search-download {
	// Zusammenspiel zwischen Bootstrap und Font-Awesome
	button i.fa {
		line-height: 1.35;
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
	}

	// TODO: Sunday-Reset: Eigene Checkbox von Sunday mit Before und After Elementen
	.form-check-label {
		&:before,
		&:after {
			display: none;
		}
	}

	// TODO: Sunday-Reset: Eigene Icons in Buttons von Sunday button:not(.ubtn)
	button i {
		display: inline;
		font-size: 15px;
		line-height: inherit;
		height: auto;
		width: auto;
		position: relative;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
	}

	.input-group {
		display: table;
		display: flex;
		flex-wrap: nowrap;
	}

	// TODO: Sunday-Reset: Eigenen Input-Feld von Sunday
	// Hier wird Bootstrap wiederhergestellt.
	input.form-control {
		height: auto;
		margin: 0;	// Sunday-Reset
		padding: $input-btn-padding-y $input-btn-padding-x;
		font-size: $font-size-base;
		line-height: normal;	// Nicht unter 1.35, da sonst "yg" nicht richtig dargestellt werden
		color: $input-color;
		background-color: $input-bg;
		background-image: none;
		background-clip: padding-box;
		border: $input-btn-border-width solid $input-border-color;

		@if $enable-rounded {
			border-radius: $input-border-radius;
		}
		@else {
			border-radius: 0;
		}

		@include box-shadow( $input-box-shadow );
		@include transition( $input-transition );

		// Sunday-Reset
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		&::-ms-expand {
			background-color: transparent;
			border: 0;
		}

		@include form-control-focus();

		&::placeholder {
			color: $input-placeholder-color;
			opacity: 1;
		}

		&:disabled,
		&[readonly] {
			background-color: $input-disabled-bg;
			opacity: 1;
		}
	}

	.input-group-append {
		vertical-align: top;
		display: table-cell;
	}

	.form-download-filter {
		h3 {
			margin-top: 0 !important;
			padding-top: 0 !important;
		}

		.module-form-checkbox {
			overflow: auto;
		}

		i.fa {
			padding-left: 8px;
			padding-right: 8px;
		}

		.js-form-reset,
		a[data-toggle="collapse"] {
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}

		a[data-toggle="collapse"] {
			display: block;
			width: 100%;
		}

		@include media-breakpoint-up(lg) {
			.collapse {
				display: block;
			}
		}
	}
}
