.slider-download-schmal {
	text-align: center;

	.slick-slider {
		button{
			z-index: 998;
			top: 0 !important;
			bottom: 0;
			margin: auto 0;
			position: absolute;
			opacity: 1;
			padding: 0;
			border: none;
			font-size: 30px;

			&:before{
				font-family: FontAwesome;
				font-size: 55px;
				font-weight: 100;
				color: inherit;
				transform: scale(1,2);
				display: block;
				margin-top: -5px;
			}

			&:hover{
				border: none;
			}

			&.slick-prev {
				left: -30px;
				direction: rtl;

				&:before{
					content: "\f104";
				}

				@include media-breakpoint-only(lg) {
					left: -7px;
				}
			}

			&.slick-next {
				right: -30px;

				&:before{
					content: "\f105";
				}

				@include media-breakpoint-only(lg) {
					right: -7px;
				}
			}
		}

		.slick-track {
			display: flex;
			align-items: stretch;
		}

		.slick-list .list-item {
			margin: 20px 10px;
		}
	}

	&.mind-white-background {
		.slick-slider button {
			&.slick-arrow {
				color: $dark-gray;
			}
		}
	}
}