.card {
	.card-image-wrapper {
		flex-shrink: 0; // IE 11...
	}
	.card-img {
		flex: 0 0 auto;
	}
	.card-text{
		line-height: 1.2;
	}
	.card-body{
		> a {
			color: inherit;
		}

		.mind-light-gray-background {
			@extend %mind-light-gray-background;
		}

		ul {
			text-align: left;
		}
	}
	.card-footer{
		margin-top: -1px; // Ansonsten wird auf manchen Android Geräten ein kleiner Border angezeigt.

		.modal-with-icon {
			a:nth-of-type(2) {
				padding: 4px 13px;

				i {
					padding-right: 0;
					font-size: 24px;
				}
			}
		}
	}
}
a.card {
	color: inherit;

	&:hover {
        color: inherit;
        text-decoration: none;

        .card-title {
            text-decoration: underline;
        }
    }
}
