
.seminar-box {
	background-color: $light-gray;
	color: $dark-gray;
	display: block;
	font-size: 12px;

	.header-wrapper {
		background-color :#565656;
		color: #fff;
		font-size: 13px;
		font-weight: bold;
		line-height: 1.1;
		width: 100%;
		display: table;
		border-spacing: 8px;
		text-align: left;

		a {
			display: table-cell;
			vertical-align: middle;
			font-weight: inherit;
			line-height: 1.4;
			font-size: 14px;
			color: $white;
			text-align:left;
		}
	}

	.body-wrapper {
		padding: 8px 10px;
	}
}
