.list-freelancer-projekte {
	margin-bottom: 1.5 * $spacer;

	.freelancer-projekt {
		display: block;
		background-color: $dark-gray;
		color: $white;
		padding: $spacer;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		border: 1px solid transparent;

		&:hover {
			background-color: $white;
			color: $dark-gray;
			text-decoration: none;
		}

		& + .freelancer-projekt {
			margin-top: 1.5 * $spacer;
		}

		.list-header {
			flex-direction: row-reverse;
		}

		.list-body {
			-webkit-box-align: end;
			-ms-flex-align: end;
			align-items: flex-end;
		}

		.list-header,
		.list-body {
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			text-align: center;

			@include media-breakpoint-up(sm) {
				text-align: left;
				display: flex;
			}

			h3 {
				padding-top: 0 !important;
				margin-bottom: 0 !important;
				font-weight: bold !important;
			}

			.list-title,
			.list-place {
				margin-bottom: $spacer;
			}

			.list-title,
			.list-text {
				-ms-flex-preferred-size: 0;
				flex-basis: 0;
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
				max-width: 100%;
			}

			.list-btn {
				margin-left: $spacer;
				margin-top: $spacer;
			}

			.list-place,
			.list-btn {
				flex: 0 0 auto;
				width: auto;
				max-width: none;
			}
		}
	}
}

.mind-white-background .freelancer-projekt:hover {
	border: 1px solid $dark-gray;
}
