
.list.list-download {
	.list-item {
		display: block;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-align-items: stretch;
		align-items: stretch;
		min-height: 126px;

		margin: 45px 0;
		-webkit-transition: $transition-base;
		-moz-transition: $transition-base;
		-o-transition: $transition-base;
		transition: $transition-base;
		background-color: $dark-gray;
		color: $white;

		@include media-breakpoint-up(lg) {
			&:first-child {
				margin-top: 0;
			}
		}

		&:hover {
			background-color: $white;
			text-decoration: none;
			color: $dark-gray;
		}

		.list-img {
			display: none;
			flex: 0 0 auto;
			margin: 5px auto;

			@include media-breakpoint-up(sm) {
				display: flex;
				margin: -12px -2px;
			}

			img {
				align-self: center;
				height: 150px;
			}
		}

		.list-body {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			flex-direction: column;
			-webkit-flex: 1 0 150px;
			-ms-flex: 1 0 150px;
			flex: 1 0 150px;
			min-width: 150px;
			max-width: none;
			width: 100%;

			text-align: left;
			line-height: normal;
			font-size: 0.8em;
			padding: $spacer / 2;

			.list-img {
				display: flex;

				@include media-breakpoint-up(sm) {
					display: none;
				}
			}

			.list-headline {
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				align-items: baseline;

				-webkit-flex: 0 0 auto;
				-ms-flex: 0 0 auto;
				flex: 0 0 auto;

				i {
					display: inline;
					margin-right: $spacer / 2;
				}

				h5 {
					display: inline;
					padding: 0 !important;
					margin: 0;
				}
			}

			.list-content {
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-webkit-flex: 1 1 auto;
				-ms-flex: 1 1 auto;
				flex: 1 1 auto;
				-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
				width: auto;

				.list-text {
					display: flex;
					flex: 1 0 auto;
					max-width: 100%;
					min-width: 150px;
					width: 100%;
					padding: 15px 0 0;

					p {
						margin: 0;
					}

					@include media-breakpoint-up(sm) {
						padding: 10px 0 10px;
					}
				}

				.list-btn {
					display: flex;
					flex: 0 0 auto;
					max-width: none;
					width: auto;
					max-width: none;
					position: relative;
					align-self: center;
					padding: 0 0 0 15px;
					margin-left: auto;
					align-self: flex-end;
				}
			}
		}
	}
}

.mind-orange-background .list.list-download {
	.list-item {
		background-color: $yellow;
		color: $dark-gray;

		&:hover {
			background-color: $white;
			color: $dark-gray;
		}
	}
}

.mind-white-background .list.list-download {
	.list-item {
		background-color: $dark-gray;
		
		&:hover {
			background-color: $light-gray;
			color: $dark-gray;
		}
	}
}
