// Farben
// --------------------------------------------------

$orange: #ea5b0b;
$yellow: #fdc300;
$green: #81d48d;

$white: #fff;
$light-gray: #ccc;
$dark-gray: #565656;
$black: #000;
$darker-gray: #333;

$primary: $orange;
$secondary: $yellow;
$success: $green;

$theme-colors: (
	"gray": $dark-gray
);

// Abstände
// --------------------------------------------------

$spacer: 15px;

// Schrift
// --------------------------------------------------

$font-size: 15px;
$line-height: 1.6;

// Überschriften
// --------------------------------------------------
$h1-font-size: 2.5rem !default;
$h2-font-size: 2rem !default;
$h3-font-size: 1.5rem !default;
$h4-font-size: 1.3rem !default;
$h5-font-size: 1rem !default;
$h6-font-size: 1rem !default;

// Weitere Einstellungen
// --------------------------------------------------
$enable-rounded: false;
$input-btn-focus-width: 0;
