
.form-check-label {
	padding: 0;
	position: relative;
	line-height: 20px;
	margin-bottom: 8px;
	text-align: left;

	@include media-breakpoint-down(xs) {
		display: block;
	}

	.form-check-input {
		width: 20px;
		height: 20px;
		margin: 0 8px 0 0;
		position: relative;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		top: 0;

		&:checked + .form-check-box {
			background-color: $dark-gray;
			border-color: $dark-gray;

			&:hover {
				background-color: lighten($dark-gray, 15%);
				border-color: lighten($dark-gray, 15%);
			}
		}
	}

	.form-check-box {
		cursor: pointer;
		position: absolute;
		width: 20px;
		height: 20px;
		left: 0;
		top: 0;
		background-color: $white;
		border: 1px solid $dark-gray;
		-webkit-transition: all .1s ease-in-out;
		-moz-transition: all .1s ease-in-out;
		-o-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;

		&:hover {
			background-color: darken($white, 15%);
			border-color: darken($dark-gray, 15%);
		}
	}
}

.form-download-filter.mind-yellow-background .form-check-box {
	background-color: $yellow;

	&:hover {
		background-color: darken($yellow, 15%);
	}
}