// Begin: @import ms_root/utilities
@import "../../../../ms_root/assets/sass/utilities/utilities";
// End: @import ms_root/utilities
// Mixnins
// --------------------------------------------------

@mixin class-breakpoint-up($class) {
	@each $breakpoint in map-keys($grid-breakpoints) {
		$min: breakpoint-min($breakpoint, $grid-breakpoints);
		@if $min {
			@media (min-width: $min) {
				.#{$class}-#{$breakpoint} {
					@content;
				}
			}
		}
	}
}

@mixin class-breakpoint-down($class) {
	$grid-breakpoints-keys: map-keys($grid-breakpoints);
	@for $i from 1 through length($grid-breakpoints) - 1 {
		$breakpoint: nth($grid-breakpoints-keys, length($grid-breakpoints) - $i);
		$max: breakpoint-max($breakpoint, $grid-breakpoints);
		@if $max {
			@media (max-width: $max) {
				.#{$class}-#{$breakpoint} {
					@content;
				}
			}
		}
	}
}

// Background helpers
// --------------------------------------------------

.mind-image-background {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	background-position: center bottom;
	color: $white;
}

.mind-parallax-background {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	color: $white;

	@include media-breakpoint-down(xs) {
		background-attachment: scroll;
		background-size: cover;
	}
}

.mind-gradient-background {
	background-image: linear-gradient(to right,rgba(255,255,255,.2) 0,transparent 100%);
}

.mind-yellow-background {
	background-color: $yellow;
	color: $darker-gray;
}

.mind-orange-background {
	background-color: $orange;
	color: $white;
}

%mind-light-gray-background {
	background-color: $light-gray;
	color: $darker-gray;

	@at-root a#{&}:hover {
		color: $darker-gray;
	}
}

.mind-light-gray-background {
	@extend %mind-light-gray-background;
}

.mind-gray-background {
	background-color: $dark-gray;
	color: $white;
	webkit-transition: 0.3s;
	transition: 0.3s;

	&.hover{
		border: 1px solid $dark-gray;
		&:hover {
			background-color: $white;
			color: $dark-gray;
			webkit-transition: 0.3s;
			transition: 0.3s;
		}
	}
}

.mind-green-background {
	background-color: $green;
	color: $white;
}

.mind-white-background {
	background-color: $white;
	color: $dark-gray;
}

.mind-transparent-background {
	background-color: transparent;
}

@each $color_name, $color_value in (
	"orange": $orange,
	"yellow": $yellow,
	"green": $green,
	"white": $white,
	"light-gray": $light-gray,
	"gray": $dark-gray
) {
	.mind-#{$color_name}-text {
		color: $color_value;

		@at-root a#{&}, #{&} a {
			&, &:focus {
				color: $color_value;
			}

			&:hover {
				color: darken($color_value, 15%);
			}
		}
	}
}

@include class-breakpoint-down('mind-yellow-background') {
	background-color: $yellow;
	color: $dark-gray;
}

@include class-breakpoint-down('mind-orange-background') {
	background-color: $orange;
	color: $white;
}

@include class-breakpoint-down('mind-light-gray-background') {
	background-color: $light-gray;
	color: $dark-gray;
}

@include class-breakpoint-down('mind-gray-background') {
	background-color: $dark-gray;
	color: $white;
}

@include class-breakpoint-down('mind-green-background') {
	background-color: $green;
	color: $white;
}

@include class-breakpoint-down('mind-white-background') {
	background-color: $white;
	color: $dark-gray;
}

@include class-breakpoint-down('mind-transparent-background') {
	background-color: transparent;
}


html {
	body{
		// Schriftgröße für mobile Geräte
		@include media-breakpoint-down(sm) {
			h1, .h1 { font-size: 1.7rem !important; }
			h2, .h2 { font-size: 1.5rem !important; }
			h3, .h3 { font-size: 1.3rem !important; }
			h4, .h4 { font-size: 1.2rem !important; }
			h5, .h5 { font-size: 1.1rem !important; }
			h6, .h6 { font-size: 1rem !important; }
		}
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	padding-top: 15px;
}

h5, .h5 {
	font-weight: bold;
}

.modal-title {
	padding-top: 0;
}

button:focus {
	outline: none;
}

blockquote {
	color: inherit;
	border-left: 0;
}

.alignleft {
	float:left;
	margin:0 20px 10px 0;
}

.alignright {
	float:right;
	margin:0 0 10px 20px;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	max-width: 100%;
}
