# ignore generated stylesheets
/style.css
/style.css.map
/style.min.css
/style.min.css.map

/assets/css

/assets/css/admin.css
/assets/css/admin.css.map
/assets/css/admin.min.css
/assets/css/admin.min.css.map

/assets/css/pardot.css
/assets/css/pardot.css.map
/assets/css/pardot.min.css
/assets/css/pardot.min.css.map
