.AlphabeticalList {
	column-count: 1;
	margin-bottom: 30px;

	@include media-breakpoint-up(sm) {
		column-gap: 20px;
	}
		
	@include media-breakpoint-up(md) {
		column-count: 2;
	}

	&-GroupTitle {
		text-align: center;
	}

	&-Group {
		position: relative;
		display: inline-block;
		width: 100%;
		padding-top: 30px;
	}

	&-Post {
		//@extend %theme-bg-gradient-primary;
		background: $dark-gray;
		color: $white;
		display: block;
		padding: 7.5px 15px;
		margin-bottom: 5px;
		text-decoration: none;

		&:hover {
			color: #ffffff;
			text-decoration: underline;
        }
	}

	&-PostSymbol {
		padding-right: 10px;
		color: $primary;
	}
}
