.Footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 45px 0 45px;

    &-Menu {
        padding: 0;
        margin-bottom: 30px;
        list-style: none;

        li {
            display: inline-block;

            & + li:before {
                content: '/';
                margin: 0 5px;
            }
        }

        a {
            color: inherit;
        }
    }

    .container {
        margin-top: 0;
        margin-bottom: 0;
    }
}
