.pagination {
    margin-top: 15px;

    .page-numbers {
        display: block;
        padding: .5rem .75rem;
        line-height: 1.25;
        color: inherit;
        margin-left: -1px;
        background-color: #ffffff;
        border: 1px solid #cccccc;

        &:first-child {
            margin-left: 0;
        }

        &.current {
            background-color: #565657;
            color: #ffffff;
        }
    }

    a.page-numbers {
        cursor: pointer;

        &:hover {
            background-color: #565657;
            color: #ffffff;
        }
    }
}
