.SearchResults {
	width: 100%;
	line-height: 30px;

	&-Title {
		margin-top: 0.5em;
		background-color: #f5f5f5;
		padding: 15px 45px;
	}

	.gsc {
		&-result-info,
		&-control-cse,
		&-control-cse .gsc-table-result {
			font-size: inherit;
			padding: 0;
		}

		&-thumbnail-inside,
		&-url-top {
			padding-left: 0;
			padding-right: 0;
		}

		&-result {
			.gs {
				&-title {
					height: unset;
				}
			}
		}

		&-results .gsc-cursor-box .gsc-cursor-page {
			margin-right: 15px;
		}

		&-adBlock {
			display: none !important;
		}
	}

	.gcsc {
		&-branding-text {
			font-size: inherit;
		}

		&-branding-img-noclear {
			vertical-align: middle;
		}
	}
}
