$IncomingLinks_TrafficLight_size: 12px;
$IncomingLinks_TrafficLight_margin: 5px;

%IncomingLinks-TrafficLightBase {
    display: inline-block;
    content: ' ';
    width: $IncomingLinks_TrafficLight_size;
    height: $IncomingLinks_TrafficLight_size;
    border-radius: 50%;
    margin-right: $IncomingLinks_TrafficLight_margin;
    vertical-align: middle;
}


.IncomingLinks {
    &-TrafficLight-red:before {
        @extend %IncomingLinks-TrafficLightBase;
        background: #cc4d16;
    }
    &-TrafficLight-yellow:before {
        @extend %IncomingLinks-TrafficLightBase;
        background: #e4c204;
    }
    &-TrafficLight-green:before {
        @extend %IncomingLinks-TrafficLightBase;
        background: #63c706;
    }
    &-newline {
        margin-left: $IncomingLinks_TrafficLight_margin + $IncomingLinks_TrafficLight_size;
        white-space: nowrap;
    }
    &-source {
        &-list {
            margin-top: 5px;
            border: solid 1px $light-gray;
            padding: 8px;
            border-radius: 4px;
            margin-bottom: 5px;
        }
        &-title {
            color: $primary;
            text-decoration: none;
            &-extra {
                color: $light-gray;
            }
        }
    }
    &-posttype {
        &-list {
            border: solid 1px $light-gray;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 10px;
            background: white;
            box-shadow: 1px 1px 8px rgba(80,80,80,0.2);
        }
        &-title {
            background: $secondary;
            
            padding: 2px 6px;
            border-radius: 4px;
            text-decoration: none;

            a {
                color: font-color($color-secondary, white, $theme-headline-color);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &-link {
        &-table {
            width: 100%;
    
            tr:not(:last-child), tr:not(:last-child) td {
                border-bottom: 1px dotted $gray-light;
                padding-bottom: 4px;
            }
            tr td {
                padding-right: 10px;
            }
            td.td-1{
                width: 20px;
            }
            td.td-2{
                width: 40%;
            }
        }
    }
    &-fitwidth {
        width: 1px;
    }
    &-cpyHidden{
        display: none!important;
    }
    &-showOnCpy:not(&-cpyShow) {
        display: none;
    }
    &-cpyBtn {
        background-color: white;
        border:  solid 1px lightgray;
        border-color: #d4d4d4;
        border-radius: 4px;
        padding: 5px 10px;
        transition: all .2s;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    
        &:hover {
            background-color: white;
            border-color: #9c9c9c;
            border-radius: 4px;
            cursor: pointer;
        }
    
    }
    &-CpyContentRow:not(:last-child){
        margin-bottom: 10px;
    }

    // /* Tooltip container */
    // &-Tooltip {
    //     position: relative;
    //     display: inline-block;
    //     border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    // }
    
    // /* Tooltip text */
    // &-Tooltip {
    //     &-Tooltiptext {
    //         font-size: 12px;
    //         visibility: hidden;
    //         //width: 260px;
    //         background-color: rgba(0, 0, 0, 0.8);
    //         color: #fff;
    //         text-align: center;
    //         padding: 5px 0;
    //         padding: 5px 8px;
    //         border-radius: 4px;
        
    //         /* Position the tooltip text */
    //         position: absolute;
    //         z-index: 1;
    //         bottom: 50%;
    //         left: 120%;
    //         //margin-left: -130px;
    //         transform: translateY(50%);

    //         /* Fade in tooltip */
    //         opacity: 0;
    //         transition: opacity 0.2s;
    //         white-space: nowrap;
    //     }
    //     /* Tooltip arrow */
    //     &-Tooltiptext::after {
    //         content: "";
    //         position: absolute;
    //         top: 50%;
    //         left: -10px;
    //         margin-top: -5px;
    //         border-width: 5px;
    //         border-style: solid;
    //         border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
    //     }
    //     &:hover {
    //         cursor: help;
    //     }
    // } 
    
    // /* Show the tooltip text when you mouse over the tooltip container */
    // &-Tooltip:hover &-Tooltip-Tooltiptext {
    //     visibility: visible;
    //     opacity: 1;
    // }
}


